<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwclr.mapper.BusUserMapper">
  <resultMap id="BaseResultMap" type="com.wwclr.pojo.BusUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="job" jdbcType="INTEGER" property="job" />
    <result column="memberCode" jdbcType="INTEGER" property="membercode" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="crateTime" jdbcType="TIMESTAMP" property="cratetime" />
    <result column="lastModify" jdbcType="TIMESTAMP" property="lastmodify" />
    <result column="logicalDeleted" jdbcType="BIT" property="logicaldeleted" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.wwclr.pojo.BusUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="job" jdbcType="INTEGER" property="job" />
    <result column="memberCode" jdbcType="INTEGER" property="membercode" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="crateTime" jdbcType="TIMESTAMP" property="cratetime" />
    <result column="lastModify" jdbcType="TIMESTAMP" property="lastmodify" />
    <result column="logicalDeleted" jdbcType="BIT" property="logicaldeleted" />
  </resultMap>
</mapper>