<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwclr.mapper.DrugPostRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wwclr.pojo.DrugPostRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="postCode" property="postcode" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="ifTop" property="iftop" jdbcType="BIT" />
    <result column="ifEssence" property="ifessence" jdbcType="BIT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="getStarNumber" property="getstarnumber" jdbcType="INTEGER" />
    <result column="getBrowseNumber" property="getbrowsenumber" jdbcType="INTEGER" />
    <result column="crateTime" property="cratetime" jdbcType="TIMESTAMP" />
    <result column="lastModify" property="lastmodify" jdbcType="TIMESTAMP" />
    <result column="logicalDeleted" property="logicaldeleted" jdbcType="BIT" />
  </resultMap>
</mapper>