<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwclr.mapper.DrugPurchaseRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wwclr.pojo.DrugPurchaseRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="purchaseCode" property="purchasecode" jdbcType="VARCHAR" />
    <result column="drugCode" property="drugcode" jdbcType="VARCHAR" />
    <result column="drugName" property="drugname" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="purchaseNumber" property="purchasenumber" jdbcType="INTEGER" />
    <result column="crateTime" property="cratetime" jdbcType="TIMESTAMP" />
    <result column="lastModify" property="lastmodify" jdbcType="TIMESTAMP" />
    <result column="logicalDeleted" property="logicaldeleted" jdbcType="BIT" />
  </resultMap>
</mapper>